.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
#navigation {
    list-style-type: none;

    a {
        font-weight: normal;
    }
    li {
        display: block;
        float: left;
        //border-left: 1px solid #CCC;
        //border-bottom: 1px solid #CCC;
        &.active {
            background-color: #DA482B;
            border-bottom: 2px solid #08C;

            a {
                color: white;
            }
        }
        a {
            float: none;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 17px;
            padding-bottom: 17px;
            line-height: 49px;
            text-decoration: none;
            color: #DDD;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}
