<head>
    <title>Radical Services</title>
    <link href="http://fonts.googleapis.com/css?family=Prociono" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <h1 id="logo" class="span3">
                    <a href="/">: Radical Services</a>
                </h1>
                <small id="moto" class="span9">
                    Mutual Aid for a Better World
                </small>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="#" class="btn">Log in</a>
    </div>


</body>
